<ion-list lines="none" *ngIf="!showChapterActions">
  <ion-item *ngIf="showUnenrolledButton" (click)="unenroll()" id="qa_coursetoc_LeaveCourse" role="button">{{'FRMELEMNTS_LBL_UNENROLL_FROM_COURSE' | categoryKeyTranslate : content}}</ion-item>
  <ion-item *ngIf="content?.progress >= 100" (click)="syncCourseProgress()" role="button">{{'FRMELEMNTS_LBL_SYNC_COURSE_PROGRESS' | translate }}</ion-item>
</ion-list>
<ion-list lines="none" *ngIf="showChapterActions">
  <ion-item (click)="download()" id="qa_coursetoc_download" *ngIf="downloadIdentifiers.size" role="button">{{ 'DOWNLOAD' | translate }}</ion-item>
  <ion-item (click)="share()" id="qa_coursetoc_share" role="button">{{ 'SHARE' | translate }}</ion-item>
</ion-list>